table {
  width: 500px;
  border-radius: 7px;
  background-color: #f4f6f9;
  margin: auto;

}

table  tr {
  height: 50px;
}

tr:nth-child(even){
  background-color: #FFFFFF;
}

.grey-text {
  color: #a3a3a3;
}

.small-text {
  font-size: 13px;
}

.table input {
  height: 50px;
  width: 500px;
  border: 0px;
  background-color: transparent;
}


.table input:focus {
  outline: none;
}
